/vendor
/bower_components
composer.lock
composer.phar
.DS_Store
.idea
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
.env.*.php
.env.php
.sublime-workspace
.sublime-project
.editorconfig
.sass_cache
